body {
  width: 100vw;
}

.wrap {
  width: 100vw;
}

header .header-inner .home .header-box .box-3 {
  display: flex;
  gap: 1.5vw;
  justify-content: center;
  margin-top: 2.7rem;
}
header .header-inner .home .header-box .box-3 a {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  border: 1px solid;
  background-color: #E76162;
  color: #fff;
}
header .header-inner .home .header-box .box-3 a:hover {
  border: 1px solid #E76162;
  background-color: #fff;
  color: #E76162;
}

header {
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100vh;
}
header > .ham {
  display: none;
}
header > .ham > .solod {
  display: none;
}
@media screen and (min-width: 645px) and (max-width: 799px) {
  header > .ham {
    display: inline-block;
    position: fixed;
    top: 3rem;
    left: 3rem;
    z-index: 5;
    padding: 2rem 2.5rem;
    background-color: #3E614D;
    border-radius: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  header > .ham > .solid {
    display: inline-block;
    position: fixed;
    top: 5.7rem;
    left: 4.5rem;
    width: 2.5rem;
    height: 1px;
    border: 1px solid #fff;
    z-index: 9;
  }
  header > .ham > .solid:after {
    content: "";
    position: absolute;
    top: 0.7rem;
    left: -0.1rem;
    width: 2.3rem;
    border: 1px solid #fff;
  }
  header > .ham > .solid:before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -0.1rem;
    width: 2.3rem;
    border: 1px solid #fff;
  }
  header > .ham:hover .solid:after {
    top: 0.9rem;
    transition: all 0.1s;
  }
  header > .ham:hover .solid:before {
    top: -1.2rem;
    transition: all 0.1s;
  }
  header > .ham.active .solid:before {
    top: 0;
    transform: rotate(135deg);
    transition: all 0.2s;
  }
  header > .ham.active .solid:after {
    top: 0;
    transform: rotate(-135deg);
    transition: all 0.2s;
  }
  header > .ham.active .solid {
    border-color: transparent;
  }
}
@media screen and (max-width: 644px) {
  header > .ham {
    display: inline-block;
    position: fixed;
    top: 3rem;
    left: 3rem;
    z-index: 5;
    padding: 2rem 2.5rem;
    background-color: #3E614D;
    border-radius: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  header > .ham > .solid {
    display: inline-block;
    position: fixed;
    top: 5.7rem;
    left: 4.5rem;
    width: 2.5rem;
    height: 1px;
    border: 1px solid #fff;
    z-index: 9;
  }
  header > .ham > .solid:after {
    content: "";
    position: absolute;
    top: 0.7rem;
    left: -0.1rem;
    width: 2.3rem;
    border: 1px solid #fff;
  }
  header > .ham > .solid:before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -0.1rem;
    width: 2.3rem;
    border: 1px solid #fff;
  }
  header > .ham:hover .solid:after {
    top: 0.9rem;
    transition: all 0.1s;
  }
  header > .ham:hover .solid:before {
    top: -1.2rem;
    transition: all 0.1s;
  }
}
header .gnb {
  width: 15vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
header .gnb .logo img {
  width: 12rem;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 5rem;
}
header .gnb .menu {
  width: 100%;
}
header .gnb .menu-name {
  margin-top: 7rem;
}
header .gnb .menu-name li {
  text-align: center;
  margin: 2rem;
}
header .gnb .menu-name li a {
  text-transform: capitalize;
  color: #666;
  font-size: 2rem;
}
header .gnb .menu-name li a:hover {
  color: #E76162;
}
header .gnb .copy {
  font-size: 1rem;
  color: #888;
  text-align: center;
  margin-top: 38rem;
}
header .gnb .copy:before {
  content: "";
  display: block;
  width: 7rem;
  margin: auto;
  border-top: 1px solid #E76162;
  margin-bottom: 2rem;
}
@media screen and (min-width: 645px) and (max-width: 799px) {
  header .gnb {
    display: none;
  }
}
@media screen and (max-width: 644px) {
  header .gnb {
    display: none;
  }
}
header .header-inner {
  z-index: -1;
  width: 85vw;
  height: 100vh;
  position: relative;
  left: 15vw;
  background: #d2d3cd;
  background-position-y: 0;
}
header .header-inner .home .header-text {
  font-size: 5.5rem;
  position: absolute;
  color: #666;
  top: 24.5rem;
  left: 15vw;
  line-height: 1.333;
}
header .header-inner .home .header-text strong {
  color: #E76162;
  font-weight: 500;
}
@media screen and (min-width: 940px) and (max-width: 1069px) {
  header .header-inner .home .header-text {
    margin-left: 4vw;
  }
}
@media screen and (min-width: 800px) and (max-width: 939px) {
  header .header-inner .home .header-text {
    margin-left: 2vw;
  }
}
@media screen and (min-width: 645px) and (max-width: 799px) {
  header .header-inner .home .header-text {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 644px) {
  header .header-inner .home .header-text {
    margin-left: 2vw;
  }
}
header .header-inner .home .header-box {
  width: 48rem;
  height: 27rem;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  padding-top: 0.2rem;
  left: 45vw;
  bottom: 6rem;
}
header .header-inner .home .header-box .box-1 {
  width: 38rem;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid #FEE1E3;
}
header .header-inner .home .header-box .box-1 span:nth-child(1) {
  font-size: 3.5rem;
  font-weight: 500;
}
header .header-inner .home .header-box .box-1 p {
  color: #888;
  margin-top: 1.333rem;
}
@media screen and (min-width: 1070px) and (max-width: 1279px) {
  header .header-inner .home .header-box .box-1 {
    width: 30rem;
  }
}
@media screen and (min-width: 940px) and (max-width: 1069px) {
  header .header-inner .home .header-box .box-1 {
    width: 25rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 939px) {
  header .header-inner .home .header-box .box-1 {
    width: 20rem;
    margin-top: 1.5rem;
  }
}
header .header-inner .home .header-box .box-2 {
  width: 38rem;
  margin: auto;
  margin-top: 1.2rem;
}
header .header-inner .home .header-box .box-2 .tell,
header .header-inner .home .header-box .box-2 .mail {
  line-height: 1.333 !important;
}
header .header-inner .home .header-box .box-2 .tell span:first-child,
header .header-inner .home .header-box .box-2 .mail span:first-child {
  color: #E76162;
  font-size: 2rem;
}
header .header-inner .home .header-box .box-2 .tell span:last-child,
header .header-inner .home .header-box .box-2 .mail span:last-child {
  font-size: 2rem;
  color: #666;
}
@media screen and (min-width: 800px) and (max-width: 939px) {
  header .header-inner .home .header-box .box-2 .tell,
  header .header-inner .home .header-box .box-2 .mail {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1070px) and (max-width: 1279px) {
  header .header-inner .home .header-box .box-2 {
    width: 30rem;
  }
}
@media screen and (min-width: 940px) and (max-width: 1069px) {
  header .header-inner .home .header-box .box-2 {
    width: 25rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 939px) {
  header .header-inner .home .header-box .box-2 {
    width: 20rem;
  }
}
@media screen and (min-width: 940px) and (max-width: 1069px) {
  header .header-inner .home .header-box .box-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header .header-inner .home .header-box .box-3 a {
    padding: 1.5rem 7.2rem !important;
  }
}
@media screen and (min-width: 800px) and (max-width: 939px) {
  header .header-inner .home .header-box .box-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  header .header-inner .home .header-box .box-3 a {
    padding: 1.5rem 7.2rem !important;
  }
}
@media screen and (min-width: 1070px) and (max-width: 1279px) {
  header .header-inner .home .header-box {
    width: 40rem;
    height: 30rem;
  }
}
@media screen and (min-width: 940px) and (max-width: 1069px) {
  header .header-inner .home .header-box {
    width: 35rem;
    height: 35rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 939px) {
  header .header-inner .home .header-box {
    width: 30rem;
    height: 37rem;
  }
}
@media screen and (min-width: 645px) and (max-width: 799px) {
  header .header-inner .home .header-box {
    left: 22vw;
  }
}
@media screen and (max-width: 644px) {
  header .header-inner .home .header-box {
    left: 0.4vw;
  }
}
@media screen and (min-width: 645px) and (max-width: 799px) {
  header .header-inner {
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 644px) {
  header .header-inner {
    left: 0;
    width: 100%;
  }
}

main {
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main-inner {
  width: 85vw;
  margin-left: 15vw;
}
.main-inner section.about {
  width: 100%;
  height: 88rem;
  background-color: antiquewhite;
}
.main-inner section.history {
  width: 100%;
  height: 71rem;
  background-color: beige;
}
.main-inner section.projects {
  width: 100%;
  height: 214rem;
  background-color: bisque;
}
.main-inner section.artworks {
  width: 100%;
  height: 120rem;
  background-color: burlywood;
}

footer {
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer-inner {
  width: 85vw;
  margin-left: 15vw;
}
.footer-inner section.contact {
  width: 100%;
  height: 120rem;
  background-color: chocolate;
}/*# sourceMappingURL=index.css.map */