body {
    width: 100vw;
}

.wrap {
    width: 100vw;
    position: relative;
}

/* header */
span.ham,
span.solid {
    display: none;
}

@import "abstracts/varables";
@import "abstracts/mixin";
//
@import "layout/header";
@import "layout/main";
@import "components/butoon";