body {
    width: 100vw;

    &::-webkit-scrollbar{
        width: 2rem;
        background-color: #fff;
    }

    &::-webkit-scrollbar-button{
        width: 2rem;
        height: 2rem;
        background-color: #E76162;
    }

    &::-webkit-scrollbar-thumb{
        width: 2rem;
        height: 4rem;
        background-color: #FEE1E3;
        box-shadow: 0 1px 3px #888;
    }
}

.wrap {
    width: 100vw;
}


@import "abstracts/varables";
@import "abstracts/mixin";
//
@import "components/butoon";
//
@import "layout/header";
@import "layout/main";
@import "layout/footer";
//
@import "base/animation";
@import "base/base";