header {
    width: $width;
    height: 100vh;

    .overay {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 11;
        display: none;
    }

    &>.ham {
        display: none;

        @include mediaQ ('smHam') {
            display: inline-block;
            position: fixed;
            top: 3rem;
            left: 3rem;
            z-index: 15;
            padding: 2.5rem 1.5rem;
            background-color: $secondary;
            border-radius: 100%;
            cursor: pointer;
            user-select: none;

            span {
                display: block;

                &.solid {
                    display: block;
                    position: relative;
                    top: 0rem;
                    left: 0rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                    z-index: 15;
                }

                &:first-child {
                    width: 2.5rem;
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                }

                &:last-child {
                    width: 2.5rem;
                    position: absolute;
                    top: 3.4rem;
                    left: 1.5rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                }

                &:first-child.active {
                    position: absolute;
                    top: 2.5rem;
                    transform: rotate(135deg);
                    transition: all 0.2s;
                }

                &:last-child.active {
                    position: absolute;
                    top: 2.5rem;
                    transform: rotate(-135deg);
                    transition: all 0.2s;
                }

                &.solid.active {
                    border-color: transparent;
                }
            }
        }

        @include mediaQ ('smHam2') {
            display: inline-block;
            position: fixed;
            top: 3rem;
            left: 3rem;
            z-index: 15;
            padding: 2.5rem 1.5rem;
            background-color: $secondary;
            border-radius: 100%;
            cursor: pointer;
            user-select: none;

            span {
                display: block;

                &.solid {
                    display: block;
                    position: relative;
                    top: 0rem;
                    left: 0rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                    z-index: 9;
                }

                &:first-child {
                    width: 2.5rem;
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                }

                &:last-child {
                    width: 2.5rem;
                    position: absolute;
                    top: 3.4rem;
                    left: 1.5rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                }

                &:first-child.active {
                    position: absolute;
                    top: 2.5rem;
                    transform: rotate(135deg);
                    transition: all 0.2s;
                }

                &:last-child.active {
                    position: absolute;
                    top: 2.5rem;
                    transform: rotate(-135deg);
                    transition: all 0.2s;
                }

                &.solid.active {
                    border-color: transparent;
                }
            }

        }

        @include mediaQ ('smHam3') {
            display: inline-block;
            position: fixed;
            top: 2rem;
            left: 2rem;
            z-index: 15;
            padding: 2.5rem 1.5rem;
            background-color: $secondary;
            border-radius: 100%;
            cursor: pointer;
            user-select: none;

            span {
                display: block;

                &.solid {
                    display: block;
                    position: relative;
                    top: 0rem;
                    left: 0rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                    z-index: 9;
                }

                &:first-child {
                    width: 2.5rem;
                    position: absolute;
                    top: 1.5rem;
                    left: 1.5rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                }

                &:last-child {
                    width: 2.5rem;
                    position: absolute;
                    top: 3.4rem;
                    left: 1.5rem;
                    width: 2.5rem;
                    border: 1px solid $background;
                }

                &:first-child.active {
                    position: absolute;
                    top: 2.5rem;
                    transform: rotate(135deg);
                    transition: all 0.2s;
                }

                &:last-child.active {
                    position: absolute;
                    top: 2.5rem;
                    transform: rotate(-135deg);
                    transition: all 0.2s;
                }

                &.solid.active {
                    border-color: transparent;
                }
            }

        }
    }
}

.gnb {
    width: 15vw;
    height: 100vh;
    background-color: $background;
    position: fixed;
    top: 0;
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;

    .logo img {
        width: 12rem;
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 5rem;
    }

    .menu {
        width: 100%;

        &-name {
            margin-top: 7rem;

            li {
                text-align: center;
                margin: 2rem;

                a {
                    text-transform: capitalize;
                    color: $text2;
                    font-size: $main2;
                }

                a:hover {
                    color: $primary;
                }

                &.on a {
                    color: $primary;
                }
            }
        }
    }

    .copy {
        font-size: $info1;
        color: $text3;
        text-align: center;
        margin-top: 33rem;

        &:before {
            content: '';
            display: block;
            width: 7rem;
            margin: auto;
            border-top: 1px solid $primary;
            margin-bottom: 2rem;
        }

        @include mediaQ ('sm1') {
            margin-top: 30rem;
        }

        @include mediaQ ('sm2') {
            margin-top: 30rem;
        }

        @include mediaQ ('smHam') {
            margin-top: 28rem;
        }

        @include mediaQ ('smHam2') {
            margin-top: 28rem;
        }

        @include mediaQ ('smHam3') {
            margin-top: 28rem;
        }
    }

    @include mediaQ ('smHam') {
        display: none;
    }

    @include mediaQ ('smHam2') {
        display: none;
    }

    @include mediaQ ('smHam3') {
        display: none;
    }
}

//gnb

.header-inner {
    z-index: 0;
    width: $mainW;
    height: 100vh;
    position: relative;
    left: 15vw;
    background:
        url(../img/photo/pick2-sm1.jpg) no-repeat center top/cover;
    background-position-y: -5rem;
    overflow: hidden;

    @include mediaQ('lg') {
        background-position-y: top;
    }

    @include mediaQ('md') {
        background-position-y: top !important;
    }

    @include mediaQ('sm1') {
        background-position-y: top !important;
    }

    @include mediaQ('sm2') {
        background-position-y: top !important;
    }

    @include mediaQ('smHam') {
        background-position-y: top !important;
    }

    @include mediaQ('smHam2') {
        background-position-y: top !important;
    }

    @include mediaQ('smHam3') {
        background-position-y: top !important;
    }

    .home {
        p.title1{display: none;}
        #container {
            position: absolute;
            top: 8vw;
            left: 8vw;
            text-transform: uppercase;
            width: 100%;
            display: flex;
            flex-direction: column;

            span.animated-text span.letter {
                display: inline-block;
            }

            span.animated-text.tilted span.letter {
                animation: 1s tilted forwards ease-in-out infinite;
            }

            span {
                @keyframes tilted {
                    0% {
                        transform: rotateZ(-15deg);
                    }

                    50% {
                        transform: rotateZ(15deg);
                    }

                    100% {
                        transform: rotateZ(-15deg);
                    }
                }
            }

            span {
                font-size: 6.5rem;
                line-height: 1.5;
                font-family: 'TTTtangsbudaejjigaeB';
                color: $text3;
                letter-spacing: 0.3rem;
                text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);

                &.letter {
                    color: $primary;
                }

                &.pri {
                    color: $primary;
                }

                @include mediaQ('lg') {
                    left: 5vw;
                    font-size: $h2;
                }

                @include mediaQ('md') {
                    left: 0;
                    font-size: $h2;
                }

                @include mediaQ('sm1') {
                    left: 2vw;
                    font-size: $h3;
                }

                @include mediaQ('sm2') {
                    left: 1vw;
                    font-size: $h3;
                }

                @include mediaQ('smHam') {
                    left: 1.5vw;
                    font-size: $h3;
                }

                @include mediaQ('smHam2') {
                    font-size: $h3 !important;
                    left: 1.5vw;
                }

                @include mediaQ('smHam3') {
                    font-size: $h3 !important;
                    left: 1vw;
                }
            }

            @include mediaQ('lg') {
                top: 12vw;
                left: 5vw;
            }

            @include mediaQ('md') {
                top: 22vw;
                left: 5vw;
            }

            @include mediaQ('sm1') {
                top: 22vw;
                left: 5vw;
            }

            @include mediaQ('sm2') {
                top: 22vw;
                left: 5vw;
            }

            @include mediaQ('smHam') {
                top: 41vw;
                left: 5vw;
            }

            @include mediaQ('smHam2') {
                top: 60vw;
                left: 5vw;
            }

            @include mediaQ('smHam3') {
                top: 76vw;
                left: 3vw;
            }
        }

        .lottie {
            width: 15rem;
            position: absolute;
            right: 18rem;
            bottom: 27rem;
            z-index: 5;

            @include mediaQ('md') {
                right: 6rem;
                bottom: 30rem;
            }

            @include mediaQ('sm1') {
                right: 3rem;
                bottom: 36rem;
            }

            @include mediaQ('sm2') {
                right: 3rem;
                bottom: 38rem;
            }

            @include mediaQ('smHam') {
                right: 3rem;
                bottom: 20rem;
            }

            @include mediaQ('smHam2') {
                right: 3rem;
                bottom: 20rem;
            }

            @include mediaQ('smHam3') {
                right: 0;
                bottom: 26rem;
            }
        }
    }


    .header-box {
        width: 48rem;
        height: 27rem;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        padding-top: 0.2rem;
        left: 50vw;
        bottom: 6rem;

        .box-1 {
            width: 38rem;
            margin: auto;
            margin-top: 3rem;
            padding-bottom: 1.2rem;
            border-bottom: 2px solid $pointcolor1;

            span:nth-child(1) {
                font-size: $h4;
                font-weight: 500;
            }

            p {
                color: $text3;
                margin-top: 1.333rem;
            }

            @include mediaQ('md') {
                width: 30rem;
            }

            @include mediaQ('sm1') {
                width: 25rem;
            }

            @include mediaQ('sm2') {
                width: 20rem;
                margin-top: 1.5rem;
            }

            @include mediaQ('smHam') {
                margin-top: 1.2rem;
            }
        }

        .box-2 {
            width: 38rem;
            margin: auto;
            margin-top: 1.2rem;

            .tell,
            .mail {
                line-height: 1.333 !important;
                display: flex;
                gap: 1rem;

                span:first-child {
                    color: $primary;
                    font-size: $main2;
                }

                span:last-child {
                    font-size: $main2;
                    color: $text2;
                }

                @include mediaQ('sm2') {
                    display: flex;
                    flex-direction: column
                }

                button {
                    border: none;
                    background: none;

                    i {
                        cursor: pointer;
                    }
                }
            }

            @include mediaQ('md') {
                width: 30rem;
            }

            @include mediaQ('sm1') {
                width: 25rem;
            }

            @include mediaQ('sm2') {
                width: 20rem;
            }
        }

        .box-3 {
            @extend %boxHover;

            @include mediaQ('sm1') {
                display: flex;
                flex-direction: column;
                text-align: center;

                a {
                    padding: 1.5rem 7.2rem !important;
                }
            }

            @include mediaQ('sm2') {
                display: flex;
                flex-direction: column;
                text-align: center;

                a {
                    padding: 1.5rem 7.2rem !important;
                }
            }

            @include mediaQ('smHam3') {
                text-align: center;
                justify-content: left !important;
                margin-left: 5rem;
            }
        }

        @include mediaQ('md') {
            width: 40rem;
            height: 30rem;
        }

        @include mediaQ('sm1') {
            width: 35rem;
            height: 35rem;
        }

        @include mediaQ('sm2') {
            width: 30rem;
            height: 37rem;
        }

        @include mediaQ('smHam') {
            left: 35vw;
            bottom: 3rem;
            height: 24rem;
        }

        @include mediaQ('smHam2') {
            left: 10vw !important;
        }

        & {
            animation: show1 both 1s;
            opacity: 0;
            transform: translateY(12rem);
            overflow: hidden;

            transition: transform 1s, opacity 1s;
        }
    }

    @include mediaQ ('smHam') {
        left: 0;
        width: 100%;
    }

    @include mediaQ ('smHam2') {
        left: 0;
        width: 100%;
    }
}

.toptab {
    position: fixed;
    z-index: 999;
    right: 3rem;
    bottom: 3rem;
    background: transparent;

    img {
        width: 3rem;
        height: auto;
    }

    display: none;
}