main {
    width: $width;
    user-select: none;
}

.main-inner {
    width: $mainW;
    margin-left: 15vw;

    @include mediaQ ('smHam') {
        margin: auto;
    }

    @include mediaQ ('smHam2') {
        margin: auto;
    }

    section.about {
        width: $inner;
        height: 88rem;
        margin: auto;
        position: relative;

        @include mediaQ ('smHam') {
            height: 145rem;
        }

        @include mediaQ ('smHam2') {
            height: 145rem;
        }

        /* 타이틀 base */
        @extend %title;


        & .title-flex {
            display: flex;
            flex-direction: row;
            gap: 6vw;
            align-items: center;
            padding-top: 16.2rem;

            @include mediaQ ('smHam') {
                flex-direction: column;
            }

            @include mediaQ ('smHam2') {
                flex-direction: column;
            }

            & .title-text {
                line-height: 1.333;

                & .title-name {
                    & p:first-child {
                        font-size: $main2;
                        font-weight: 300;

                        &>strong {
                            color: $primary;
                            font-weight: 400;
                        }

                        @include mediaQ ('smHam') {
                            text-align: center;
                        }

                        @include mediaQ ('smHam2') {
                            text-align: center;
                        }

                    }

                    & p:last-child {
                        font-size: $h4;
                        font-weight: 300;

                        @include mediaQ ('md') {
                            font-size: 3rem;
                        }

                        @include mediaQ ('sm1') {
                            font-size: $main1;
                        }

                        @include mediaQ ('sm2') {
                            font-size: $main1;
                        }

                        @include mediaQ ('smHam') {
                            font-size: $main1;
                            text-align: center;
                        }

                        @include mediaQ ('smHam2') {
                            font-size: $main1;
                            text-align: center;
                        }
                    }
                }

                & .title-info {
                    padding-top: 4rem;

                    & .title-flex {
                        &-profile {
                            @extend %about;

                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-mail {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-phone {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-study {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-skillList {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }
                    }
                }
            }

            & .title-img {
                position: relative;

                img {
                    width: 22vw;
                    height: 30vw;
                    z-index: 0;
                    object-fit: cover;
                    object-position: center;

                    @include mediaQ ('smHam') {
                        width: 45rem;
                        height: auto;
                    }

                    @include mediaQ ('smHam2') {
                        width: 40rem;
                        height: auto;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 22vw;
                    height: 29vw;
                    border: 8px solid $pointcolor1;
                    top: 3.8rem;
                    left: -1.5vw;
                    z-index: -1;

                    @include mediaQ ('smHam') {
                        width: 50rem;
                        height: 59rem;
                        left: -4.5vw;
                    }

                    @include mediaQ ('smHam2') {
                        width: 50rem;
                        height: 59rem;
                        left: -4.5vw;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 22vw;
                    height: 29vw;
                    background-image: url(../img/bg2.png);
                    top: -3.8rem;
                    left: 1.5vw;
                    z-index: -1;

                    @include mediaQ ('smHam') {
                        width: 50rem;
                        height: 59rem;
                        left: 4.5vw;
                    }

                    @include mediaQ ('smHam2') {
                        width: 50rem;
                        height: 59rem;
                        left: 4.5vw;
                    }
                }

                @extend %show;
            }
        }

    }

    // .about

    section.history {
        width: $mainW;
        height: 71rem;
        background-color: $background2;

        @include mediaQ ('md') {
            height: 84rem;
        }

        @include mediaQ ('sm1') {
            height: 110rem;
        }

        @include mediaQ ('sm2') {
            height: 110rem;
        }

        @include mediaQ ('smHam') {
            height: 110rem;
            width: $width;
            margin: 0;
            margin-left: -7rem;
        }

        @include mediaQ ('smHam2') {
            height: 120rem;
            width: $width;
            margin: 0;
            margin-left: -4rem;
        }

        & .hInner {
            display: flex;
            flex-direction: row;
            width: $inner;
            margin: auto;
            justify-content: space-between;

            @include mediaQ ('sm1') {
                flex-direction: column;
            }

            @include mediaQ ('sm2') {
                flex-direction: column;
            }

            @include mediaQ ('smHam') {
                flex-direction: column;
            }

            @include mediaQ ('smHam2') {
                flex-direction: column;
            }

            & .history-one {
                @extend %history;

                @include mediaQ ('md') {
                    margin-left: -5rem;
                    padding-right: 8rem
                }
            }

            & .history-two {
                @extend %history;

                @include mediaQ ('md') {
                    margin-right: -5rem;
                }
            }

            & .history-flex {
                margin-top: 1rem;

                & .flex-text {
                    display: flex;
                    justify-content: space-between;
                    line-height: 1.75;
                    padding: 1.2rem 0;

                    li:first-child {
                        font-size: $main2;
                        color: $text2;
                    }

                    li:last-child {
                        font-size: 1.4rem;
                        width: 6vw;
                        height: 3.7rem;
                        text-align: center;
                        line-height: 2.8;
                        background-color: $pointcolor1;
                        color: $text2;

                        @include mediaQ ('smHam') {
                            width: 12vw;
                        }

                        @include mediaQ ('smHam2') {
                            width: 8vw;
                        }
                    }
                }
            }
        }
    }

    // .history

    section.projects {
        width: 100%;
        height: 214rem;
        background-color: $background;
        position: relative;

        @include mediaQ ('sm1') {
            height: 360rem;
        }

        @include mediaQ ('sm2') {
            height: 360rem;
        }

        @include mediaQ ('smHam') {
            height: 360rem;
        }

        @include mediaQ ('smHam2') {
            height: 360rem;
        }

        .inner {
            width: $inner;
            position: relative;
            margin: auto;

            @include mediaQ ('sm1') {
                display: flex;
                flex-direction: column;
            }

            @include mediaQ ('sm2') {
                display: flex;
                flex-direction: column;
            }

            @include mediaQ ('smHam') {
                display: flex;
                flex-direction: column;
            }

            @include mediaQ ('smHam2') {
                display: flex;
                flex-direction: column;
            }

            >h3 {
                font-size: 4.8rem;
                font-weight: 600;
                color: $secondary;
                position: absolute;
                top: 16rem;
            }

            @extend %title;



            .project {
                @include mediaQ ('md') {
                    height: 65rem !important;
                }

                @include mediaQ ('sm1') {
                    width: 60vw !important;

                    img {
                        width: 60vw !important;
                        height: auto !important;
                    }
                }

                @include mediaQ ('sm2') {
                    width: 60vw !important;

                    img {
                        width: 60vw !important;
                        height: auto !important;
                    }
                }

                @include mediaQ ('smHam') {
                    width: 60vw !important;

                    img {
                        width: 60vw !important;
                        height: auto !important;
                    }
                }

                @include mediaQ ('smHam2') {
                    width: 60vw !important;

                    img {
                        width: 60vw !important;
                        height: auto !important;
                    }
                }


                &.project1 {
                    @extend %projectCard;
                }

                &.project2 {
                    @extend %projectCard;
                    right: 0;

                    @include mediaQ ('sm1') {
                        right: initial;
                        top: 110rem !important;
                    }

                    @include mediaQ ('sm2') {
                        right: initial;
                        top: 110rem !important;
                    }

                    @include mediaQ ('smHam') {
                        right: initial;
                        top: 110rem !important;
                    }

                    @include mediaQ ('smHam2') {
                        right: initial;
                        top: 110rem !important;
                    }
                }

                &.project3 {
                    @extend %projectCard;
                    top: 120rem !important;

                    @include mediaQ ('sm1') {
                        top: 190rem !important;
                    }

                    @include mediaQ ('sm2') {
                        top: 190rem !important;
                    }

                    @include mediaQ ('smHam') {
                        top: 190rem !important;
                    }

                    @include mediaQ ('smHam2') {
                        top: 190rem !important;
                    }
                }

                &.project4 {
                    @extend %projectCard;
                    right: 0;
                    top: 120rem !important;

                    @include mediaQ ('sm1') {
                        right: unset;
                        top: 270rem !important;
                    }

                    @include mediaQ ('sm2') {
                        right: unset;
                        top: 270rem !important;
                    }

                    @include mediaQ ('smHam') {
                        right: unset;
                        top: 270rem !important;
                    }

                    @include mediaQ ('smHam2') {
                        right: unset;
                        top: 270rem !important;
                    }
                }


                & .pInfo {
                    @include mediaQ ('sm1') {
                        width: 45vw !important;
                    }

                    @include mediaQ ('sm2') {
                        width: 45vw !important;
                    }

                    @include mediaQ ('smHam') {
                        width: 45vw !important;
                    }

                    @include mediaQ ('smHam2') {
                        width: 45vw !important;
                    }

                    .title {
                        p {
                            @include mediaQ ('md') {
                                font-size: $main3 !important;
                            }

                            @include mediaQ ('smHam') {
                                font-size: $main3 !important;
                            }

                            @include mediaQ ('smHam2') {
                                font-size: $main3 !important;
                            }
                        }

                    }

                    .infoBtn {
                        @include mediaQ ('md') {
                            a {
                                padding: 1.2rem 0.8rem !important;
                            }
                        }

                        @include mediaQ ('smHam') {
                            a {
                                padding: 1.2rem 0.8rem !important;
                            }
                        }

                        @include mediaQ ('smHam2') {
                            a {
                                padding: 1.2rem 0.8rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    // .projects

    section.artworks {
        width: 100%;
        height: 120rem;
        background-color: $background2;

        .inner {
            width: 75vw;
            position: relative;
            margin: auto;

            @extend %title;

            h3 {
                font-size: 4.8rem;
                font-weight: 600;
                color: $secondary;
                position: absolute;
                top: 10rem;
            }

            .boxwrap {

                .boxInner {
                    width: 70vw;
                    margin: auto;

                    .boxTitle {
                        width: 100%;
                        height: 6rem;
                        display: flex;
                        padding-top: 20rem;
                        margin-bottom: 12rem;

                        h4 {
                            width: 20vw;
                            height: inherit;
                            background-color: $background;
                            border: 1px solid #E76162;
                            position: relative;
                            cursor: pointer;

                            a {
                                font-size: $main2;
                                font-weight: 600;
                                position: absolute;
                                left: 3.5rem;
                                top: 1.7rem;
                                display: block;
                            }
                        }

                        h4.active {
                            background-color: #E76162;

                            a {
                                color: $background;
                            }
                        }
                    }

                    .boxImgWrap {
                        position: relative;

                        .boxGrup {
                            width: 100%;

                            .page {
                                position: absolute;
                                @extend %imgCard;
                            }

                            .pageBtn {
                                span {
                                    display: inline-block;
                                    position: relative;
                                    text-align: center;
                                    left: 50%;
                                    transform: translate(-50%);
                                    top: 83rem;

                                    a {
                                        padding: 1rem;
                                        margin: 1rem;
                                        color: #E76162;
                                        text-decoration: underline;
                                    }
                                }
                            }

                            .page1 {
                                img {
                                    &:nth-child(1) {
                                        object-position: right;
                                    }

                                    &:nth-child(3) {
                                        object-position: bottom;
                                    }

                                    &:nth-child(6) {
                                        object-position: left
                                    }
                                }
                            }


                            .page2 {
                                img {
                                    display: none !important;
                                }
                            }

                            .page3 {
                                img {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }

        }






    }

    //.artworks

}