main {
    width: $width;
    user-select: none;
}

.main-inner {
    width: $mainW;
    margin-left: 15vw;

    @include mediaQ ('smHam') {
        margin: auto;
    }

    @include mediaQ ('smHam2') {
        margin: auto;
    }

    section.about {
        width: $inner;
        height: 88rem;
        margin: auto;
        position: relative;
        user-select:text;

        @include mediaQ ('smHam') {
            height: 145rem;
        }

        @include mediaQ ('smHam2') {
            height: 145rem;
        }

        /* 타이틀 base */
        @extend %title;


        & .title-flex {
            display: flex;
            flex-direction: row;
            gap: 6vw;
            padding-top: 16.2rem;

            @include mediaQ ('smHam') {
                flex-direction: column;
            }

            @include mediaQ ('smHam2') {
                flex-direction: column;
            }

            & .title-text {
                line-height: 1.333;

                & .title-name {
                    & h1:first-child {
                        font-size: $main2;
                        font-weight: 300;

                        &>strong {
                            color: $primary;
                            font-weight: 400;
                        }

                        @include mediaQ ('smHam') {
                            text-align: center;
                        }

                        @include mediaQ ('smHam2') {
                            text-align: center;
                        }

                    }

                    & p {
                        font-size: 2.2rem;
                        font-weight: 400;
                        line-height: 1.333;

                        @include mediaQ ('md') {
                            font-size: $main2;
                        }

                        @include mediaQ ('sm1') {
                            font-size: $main2;
                        }

                        @include mediaQ ('sm2') {
                            font-size: $main2;
                        }

                        @include mediaQ ('smHam') {
                            font-size: $main2;
                            text-align: center;
                        }

                        @include mediaQ ('smHam2') {
                            font-size: $main2;
                            text-align: center;
                        }
                    }
                }

                & .title-info {
                    padding-top: 4rem;

                    & .title-flex {
                        &-profile {
                            @extend %about;

                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-mail {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-phone {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-study {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }

                        &-skillList {
                            @extend %about;
                            padding-bottom: 3rem;

                            @include mediaQ ('sm1') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('sm2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }

                            @include mediaQ ('smHam2') {
                                h3 {
                                    font-size: 1.6rem !important;
                                    padding-right: 8rem;
                                }

                                p {
                                    font-size: 1.6rem !important;
                                }
                            }
                        }
                    }
                }
            }

            & .title-img {
                position: relative;
                width: 22vw;
                height: auto;
                right: 0;
                margin-top: 50rem;
                opacity: 0;

                transform: translateY(100rem);
                transition: transform 1.5s,
                    opacity 1.5s;

                img {
                    position: absolute;
                    top: 0;
                    width: 22vw;
                    height: 30vw;
                    z-index: 0;
                    object-fit: cover;
                    object-position: center;

                    @include mediaQ ('smHam') {
                        width: 45rem;
                        height: auto;
                    }

                    @include mediaQ ('smHam2') {
                        width: 40rem;
                        height: auto;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 22vw;
                    height: 29vw;
                    border: 8px solid $pointcolor1;
                    top: 3.8rem;
                    left: -1.5vw;
                    z-index: -1;

                    @include mediaQ ('smHam') {
                        width: 50rem;
                        height: 59rem;
                        left: -4.5vw;
                    }

                    @include mediaQ ('smHam2') {
                        width: 50rem;
                        height: 59rem;
                        left: -4.5vw;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 22vw;
                    height: 29vw;
                    background-image: url(../img/bg2.png);
                    top: -2.8rem;
                    left: 1.5vw;
                    z-index: -1;

                    @include mediaQ ('smHam') {
                        width: 50rem;
                        height: 59rem;
                        left: 4.5vw;
                    }

                    @include mediaQ ('smHam2') {
                        width: 50rem;
                        height: 59rem;
                        left: 4.5vw;
                    }
                }

            }
        }

    }

    // .about

    section.history {
        width: $mainW;
        height: 80rem;
        background-color: $background2;

        @include mediaQ ('md') {
            height: 84rem;
        }

        @include mediaQ ('sm1') {
            height: 110rem;
        }

        @include mediaQ ('sm2') {
            height: 110rem;
        }

        @include mediaQ ('smHam') {
            height: 150rem;
            width: $width;
            margin: 0;
            margin-left: -7rem;
        }

        @include mediaQ ('smHam2') {
            height: 150rem;
            width: $width;
            margin: 0;
            margin-left: -4rem;
        }

        & .hInner {
            display: flex;
            flex-direction: row;
            width: $inner;
            margin: auto;
            justify-content: space-between;

            @include mediaQ ('sm1') {
                flex-direction: column;
            }

            @include mediaQ ('sm2') {
                flex-direction: column;
            }

            @include mediaQ ('smHam') {
                flex-direction: column;
            }

            @include mediaQ ('smHam2') {
                flex-direction: column;
            }

            & .history-one {
                @extend %history;

                @include mediaQ ('md') {
                    margin-left: -5rem;
                    padding-right: 8rem
                }
            }

            & .history-two {
                @extend %history;

                @include mediaQ ('md') {
                    margin-right: -5rem;
                }
            }

            & .history-flex {
                margin-top: 1rem;

                & .flex-text {
                    display: flex;
                    justify-content: space-between;
                    line-height: 1.75;
                    padding: 1.2rem 0;

                    li:first-child {
                        font-size: $main2;
                        color: $text2;
                    }

                    li:last-child {
                        font-size: 1.4rem;
                        width: 6vw;
                        height: 3.7rem;
                        text-align: center;
                        line-height: 2.8;
                        background-color: $pointcolor1;
                        color: $text2;

                        @include mediaQ ('smHam') {
                            width: 12vw;
                        }

                        @include mediaQ ('smHam2') {
                            width: 8vw;
                        }
                    }
                }
            }
        }
    }

    // .history

    section.skills {
        width: 100%;
        height: 80rem;
        background-color: $background;
        position: relative;

        @include mediaQ ('smHam') {
            height: 120rem;
        }

        @include mediaQ ('smHam2') {
            height: 120rem;
        }

        .inner {
            width: $inner;
            margin: auto;

            @extend %title;

            >h3 {
                font-size: 4.8rem;
                font-weight: 600;
                color: $secondary;
                padding-top: 16rem;
            }

            .skillLevel {
                padding-top: 7rem;
                display: flex;
                width: 60vw;
                margin: auto;
                overflow: hidden;

                @include mediaQ ('smHam') {
                    flex-direction: column;
                }

                @include mediaQ ('smHam2') {
                    flex-direction: column;
                }

                .skills {
                    .Level {
                        width: 28vw;
                        height: 12rem;

                        @include mediaQ ('smHam') {
                            width: 60vw;
                            overflow: hidden;
                        }

                        @include mediaQ ('smHam2') {
                            width: 60vw;
                            overflow: hidden;
                        }

                        .Ltitle {
                            font-size: $main2;
                            font-weight: 500;
                            color: $secondary;
                            line-height: 1.333;
                        }

                        .secon {
                            .progress-bar {
                                position: relative;
                                top: 2rem;
                                width: 26vw;
                                height: 20px;
                                background-color: $background2;

                                @include mediaQ ('smHam') {
                                    width: 60vw;
                                }

                                @include mediaQ ('smHam2') {
                                    width: 60vw;
                                }

                                & .bar {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    bottom: 0;
                                    right: 0;
                                    background: linear-gradient(to left, $primary, rgb(255, 154, 154));
                                    width: 0;
                                }

                                & .rate {
                                    position: absolute;
                                    top: 0;
                                    right: 15px;
                                    bottom: 0;
                                    line-height: 20px;
                                    font-size: 1.2rem;
                                    color: $primary;
                                }
                            }
                        }
                    }

                    &.skills1 {
                        margin-right: 7rem;
                    }
                }
            }

        }
    }

    //.skills

    section.projects {
        width: 100%;
        height: 214rem;
        background-color: $background;

        @include mediaQ ('sm1') {
            // height: 390rem;
            height: 300rem;
        }

        @include mediaQ ('sm2') {
            // height: 390rem;
            height: 300rem;
        }

        @include mediaQ ('smHam') {
            // height: 390rem;
            height: 300rem;
        }

        @include mediaQ ('smHam2') {
            // height: 390rem;
            height: 300rem;
        }

        .inner {
            width: $inner;
            position: relative;
            margin: auto;

            @include mediaQ ('sm1') {
                display: flex;
                flex-direction: column;
            }

            @include mediaQ ('sm2') {
                display: flex;
                flex-direction: column;
            }

            @include mediaQ ('smHam') {
                display: flex;
                flex-direction: column;
            }

            @include mediaQ ('smHam2') {
                display: flex;
                flex-direction: column;
            }

            >h3 {
                font-size: 4.8rem;
                font-weight: 600;
                color: $secondary;
                position: absolute;
                top: 16rem;
            }

            @extend %title;



            .project {
                @include mediaQ ('md') {
                    height: 65rem !important;
                }

                @include mediaQ ('sm1') {
                    width: 60vw !important;
                }

                @include mediaQ ('sm2') {
                    width: 60vw !important;

                    img {
                        width: 60vw !important;
                        height: auto !important;
                    }
                }

                @include mediaQ ('smHam') {
                    width: 60vw !important;

                    img {
                        width: 60vw !important;
                        height: auto !important;
                    }
                }

                @include mediaQ ('smHam2') {
                    width: 60vw !important;

                    img {
                        width: 60vw !important;
                        height: auto !important;
                    }
                }


                &.project1 {
                    @extend %projectCard;

                    @extend %projectMockup;

                    // 목업 스크롤
                    .mockupAll {
                        @include mediaQ ('sm1') {
                            margin-bottom: -13.5vw !important;
                        }
                        @include mediaQ ('sm2') {
                            margin-bottom: -13.5vw !important;
                        }
                    }

                }

                &.project2 {
                    @extend %projectCard;
                    right: 0;

                    @extend %projectMockup;
                    // 목업 스크롤

                    @extend %projectMockupMobile;

                    // 목업 스크롤 모바일

                    .mockupAll {
                        margin-bottom: -16vw !important;

                        @include mediaQ ('sm1') {
                            margin-bottom: -28.5vw !important;
                        }
                        @include mediaQ ('sm2') {
                            margin-bottom: -28.5vw !important;
                        }
                        @include mediaQ ('smHam') {
                            margin-bottom: -23.5vw !important;
                        }
                        @include mediaQ ('smHam2') {
                            margin-bottom: -22vw !important;
                        }
                    }

                    @include mediaQ ('sm1') {
                        right: initial;
                        top: 117rem !important;
                    }

                    @include mediaQ ('sm2') {
                        right: initial;
                        top: 117rem !important;
                    }

                    @include mediaQ ('smHam') {
                        right: initial;
                        top: 117rem !important;
                    }

                    @include mediaQ ('smHam2') {
                        right: initial;
                        top: 117rem !important;
                    }
                }

                &.project3 {
                    @extend %projectCard;
                    top: 120rem !important;
                    display: none;

                    @extend %projectMockupMobile2;
                    // 목업 스크롤 모바일

                    @extend %projectMockupMobile2;
                    // 목업 스크롤 모바일
                    
                    .mockupAll {
                    margin-bottom: 9rem;
                    }

                    @include mediaQ ('sm1') {
                        top: 205rem !important;
                    }

                    @include mediaQ ('sm2') {
                        top: 205rem !important;
                    }

                    @include mediaQ ('smHam') {
                        top: 205rem !important;
                    }

                    @include mediaQ ('smHam2') {
                        top: 205rem !important;
                    }
                }

                &.project4 {
                    @extend %projectCard;
                    // right: 0;
                    top: 120rem !important;

                    @extend %projectMockup;
                    // 목업 스크롤

                    @extend %projectMockupMobile;
                    // 목업 스크롤 모바일
                    .mockupAll {
                        margin-bottom: -16vw !important;
                        @include mediaQ ('sm1') {
                            margin-bottom: -28.5vw !important;
                        }
                        @include mediaQ ('sm2') {
                            margin-bottom: -28.5vw !important;
                        }
                        @include mediaQ ('smHam') {
                            margin-bottom: -28.5vw !important;
                        }
                        @include mediaQ ('smHam2') {
                            margin-bottom: -23vw !important;
                        }
                    }

                    @include mediaQ ('sm1') {
                        right: unset;
                        // top: 292rem !important;
                        top: 205rem !important;
                    }

                    @include mediaQ ('sm2') {
                        right: unset;
                        // top: 292rem !important;
                        top: 205rem !important;
                    }

                    @include mediaQ ('smHam') {
                        right: unset;
                        // top: 292rem !important;
                        top: 205rem !important;
                    }

                    @include mediaQ ('smHam2') {
                        right: unset;
                        // top: 292rem !important;
                        top: 205rem !important;
                    }
                }


                & .pInfo {
                    @include mediaQ ('md') {
                        margin-top: 0;
                    }

                    @include mediaQ ('sm1') {
                        width: 45vw !important;
                    }

                    @include mediaQ ('sm2') {
                        width: 45vw !important;
                    }

                    @include mediaQ ('smHam') {
                        width: 45vw !important;
                    }

                    @include mediaQ ('smHam2') {
                        width: 45vw !important;
                    }

                    .title {
                        p {
                            @include mediaQ ('md') {
                                font-size: $main3 !important;
                            }

                            @include mediaQ ('smHam') {
                                font-size: $main3 !important;
                            }

                            @include mediaQ ('smHam2') {
                                font-size: $main3 !important;
                            }
                        }

                    }

                    .infoBtn {
                        @include mediaQ ('md') {
                            a {
                                padding: 1.2rem 0.8rem !important;
                            }
                        }

                        @include mediaQ ('smHam') {
                            a {
                                padding: 1.2rem 0.8rem !important;
                            }
                        }

                        @include mediaQ ('smHam2') {
                            a {
                                padding: 1.2rem 0.8rem !important;
                            }
                        }
                    }
                }
            }
        }
    }

    // .projects

    section.artworks {
        width: 100%;
        height: 71vw;
        background-color: $background2;


        @include mediaQ ('lg') {
            height: 70vw;
        }

        @include mediaQ ('md') {
            height: 80vw;
        }

        @include mediaQ ('sm1') {
            height: 150vw;
        }

        @include mediaQ ('sm2') {
            height: 160vw;
        }

        @include mediaQ ('smHam') {
            height: 500vw;
        }

        @include mediaQ ('smHam2') {
            height: 520vw;
        }

        .inner {
            width: 75vw;
            position: relative;
            margin: auto;

            @extend %title;

            h3 {
                font-size: 4.8rem;
                font-weight: 600;
                color: $secondary;
                position: absolute;
                top: 15rem;
            }

            .boxwrap {
                .boxInner {
                    width: 70vw;
                    margin: auto;

                    .boxTitle {
                        width: 100%;
                        height: 6rem;
                        display: flex;
                        padding-top: 27rem;
                        margin-bottom: 12rem;

                        h4 {
                            width: 20vw;
                            height: inherit;
                            background-color: $background;
                            border: 1px solid #E76162;

                            &:not(:last-child) {
                                border-right: none;
                            }

                            >a {
                                width: 100%;
                                height: 100%;
                                font-size: $main2;
                                font-weight: 600;

                                text-align: center;
                                padding-top: 1.6rem;
                                display: block;

                                @include mediaQ ('sm1') {
                                    font-size: $main3;
                                    padding-top: 1.9rem;
                                }

                                @include mediaQ ('sm2') {
                                    font-size: 1.4rem;
                                    padding-top: 1.9rem;
                                }

                                @include mediaQ ('smHam') {
                                    font-size: 1.4rem;
                                    padding-top: 1.9rem;
                                }

                                @include mediaQ ('smHam2') {
                                    font-size: 1.4rem;
                                    padding-top: 1.9rem;
                                }
                            }
                        }

                        h4 {
                            a.active {
                                background-color: #E76162;
                                color: $background;
                            }
                        }
                    }

                    .boxImgWrap {
                        width: 100%;
                        position: relative;

                        .boxGrup {
                            width: 100%;
                            height: inherit;
                            position: relative;

                            .page {
                                position: absolute;
                                @extend %imgCard;

                                .img {
                                    width: 100%;

                                    .hoverText {
                                        p {
                                            width: 22vw;
                                            color: $background;
                                            text-align: center;
                                            line-height: 1.75;
                                        }
                                    }
                                }

                                @include mediaQ ('sm1') {
                                    grid-template-columns: repeat(2, 34vw) !important;
                                    grid-template-rows: repeat(3, 30vw) !important;

                                    a {
                                        width: 34vw !important;
                                        height: 30vw !important;

                                        img {
                                            width: 34vw !important;
                                            height: 30vw !important;
                                        }
                                    }
                                }

                                @include mediaQ ('sm2') {
                                    grid-template-columns: repeat(2, 34vw) !important;
                                    grid-template-rows: repeat(3, 30vw) !important;

                                    a {
                                        width: 34vw !important;
                                        height: 30vw !important;

                                        img {
                                            width: 34vw !important;
                                            height: 30vw !important;
                                        }
                                    }
                                }

                                @include mediaQ ('smHam') {
                                    grid-template-columns: repeat(1, 70vw) !important;
                                    grid-template-rows: repeat(6, 68vw) !important;
                                    gap: 4vw !important;

                                    a {
                                        width: 70vw !important;
                                        height: 68vw !important;

                                        img {
                                            width: 70vw !important;
                                            height: 68vw !important;
                                        }
                                    }
                                }

                                @include mediaQ ('smHam2') {
                                    grid-template-columns: repeat(1, 70vw) !important;
                                    grid-template-rows: repeat(6, 68vw) !important;
                                    gap: 4vw !important;

                                    a {
                                        width: 70vw !important;
                                        height: 68vw !important;

                                        img {
                                            width: 70vw !important;
                                            height: 68vw !important;
                                        }
                                    }
                                }

                                &.page1 {
                                    .img {
                                        @extend %pageOps;
                                    }
                                }

                                &.page2 {
                                    .img {
                                        @extend %pageOps;
                                    }
                                }

                                &.page3 {
                                    .img {
                                        @extend %pageOps;
                                    }
                                }

                                &.page4 {
                                    .img {
                                        @extend %pageOps;
                                    }
                                }
                            }

                            .pageBtn {
                                @extend %pageBtn;

                                @include mediaQ ('sm1') {
                                    >span {
                                        left: 45%;
                                        top: 100vw;
                                    }
                                }

                                @include mediaQ ('sm2') {
                                    >span {
                                        left: 45%;
                                        top: 100vw;
                                    }
                                }

                                @include mediaQ ('smHam') {
                                    >span {
                                        left: 41%;
                                        top: 430vw;
                                    }
                                }

                                @include mediaQ ('smHam2') {
                                    >span {
                                        left: 41%;
                                        top: 433vw;
                                    }
                                }

                                & a.active1,
                                & a.active2,
                                & a.active3,
                                & a.active4,
                                & a.active5 {
                                    color: $primary;
                                }
                            }
                        }
                    }


                    #boxGrup1 {
                        display: block;

                        .page1 {
                            z-index: 9;
                        }

                        
                    }

                    #boxGrup2 {
                        display: none;

                        .page1 {
                            z-index: 9;

                            div {
                                &:nth-child(1) img {
                                    object-position: right;
                                }

                                &:nth-child(3) img {
                                    object-position: bottom;
                                }

                                &:nth-child(6) img {
                                    object-position: left;
                                }
                            }

                        }

                        .page2 {
                            div {
                                &:nth-child(5) img {
                                    object-position: top;
                                }
                            }
                        }

                        .page3 {
                            div {
                                &:nth-child(2) img {
                                    object-position: top;
                                }

                                &:nth-child(4) img {
                                    object-position: top;
                                }
                            }
                        }

                    }

                    #boxGrup3 {
                        display: none;

                        .page1 {
                            z-index: 9;

                            div {
                                &:nth-child(4) img {
                                    object-position: top;
                                }

                                &:nth-child(5) img {
                                    object-position: top;
                                }
                            }
                        }

                        .page3 {
                            div {
                                &:nth-child(5) img {
                                    object-position: top;
                                }
                            }
                        }
                    }

                    #boxGrup4 {
                        display: none;

                        .page1 {
                            z-index: 9;

                            div {
                                &:nth-child(1) img {
                                    object-position: top;
                                }
                            }
                        }

                        .page2 {
                            div {
                                &:nth-child(1) img {
                                    object-position: top;
                                }

                                &:nth-child(3) img {
                                    object-position: top;
                                }
                            }
                        }
                    }

                    #boxGrup5 {
                        display: none;

                        .page1 {
                            z-index: 9;
                        }

                        div img {
                            background: $background;
                        }
                    }

                    #boxGrup6 {
                        display: none;

                        .page1 {
                            z-index: 9;
                        }
                    }

                }
            }
        }

    }
}

//.artworks