%boxHover {
    display: flex;
    gap: 1.5vw;
    justify-content: center;
    margin-top: 2.7rem;

    a {
        display: inline-block;
        padding: 0.8rem 1.8rem;
        border: 1px solid;
        background-color: $primary;
        color: $background;

        &:hover {
            border: 1px solid $primary;
            background-color: $background;
            color: $primary;
        }
    }
}

%pageBtn {
    >span {
        display: inline-block;
        position: relative;
        text-align: center;
        left: 47%;
        transform: translate(-50%);
        top: 42.5vw;

        >a {
            padding: 1rem;
            margin: 1rem;
            color: $secondary;
            text-decoration: underline;
            display: block;

            &.active {
                color: $primary;
            }
        }
    }
}