%boxHover {

    display: flex;
    gap: 1.5vw;
    justify-content: center;
    margin-top: 2.7rem;

    a {
        display: inline-block;
        padding: 0.6vw 1.5vw;
        border: 1px solid;
        background-color: $primary;
        color: $background;

        &:hover {
            border: 1px solid $primary;
            background-color: $background;
            color: $primary;
        }

    }
}