%show {
    & {
        animation: show both 1s; 
        animation-iteration-count: 1;
        opacity: 0;

        @keyframes show {
            from{
                transform: translateY(12rem);
                overflow: hidden;
                opacity: 0;
            }

            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}