%title {
    &>p {
        position: absolute;
        top: 6rem;

        &:before {
            content: '';
            display: inline-block;
            width: 5.7rem;
            border: 1px solid $primary;
            margin-right: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

%about {
    display: flex;

    h3 {
        font-size: 2.2rem;
        width: 7vw;
        font-weight: 370;
        color: $secondary;
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.75;
    }
}

%history {
    h3 {
        font-size: $h4;
        font-weight: 600;
        color: $secondary;
        padding-top: 5rem;

        &:after {
            content: '';
            display: block;
            width: 28vw;
            border: 1px solid $primary;
            margin-top: 1.5rem;

            @include mediaQ ('sm1') {
                width: 65vw;
            }

            @include mediaQ ('sm2') {
                width: 65vw;
            }

            @include mediaQ ('smHam') {
                width: 65vw;
            }

            @include mediaQ ('smHam2') {
                width: 65vw;
            }
        }
    }
}

%projectCard {
    width: 30vw;
    height: 72.6rem;
    position: absolute;
    top: 30rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: $background;

    img {
        width: 30vw;
        height: auto;
    }

    .pInfo {
        width: 27vw;
        margin: auto;

        .title {
            padding: 4rem 0;

            h3 {
                font-size: $h4;
                font-weight: 500;
                color: $secondary;
            }

            >p {
                font-weight: 300;
                font-size: $main2;
                padding-top: 1rem;
            }
        }

        .mainInfo {
            p {
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.75;
                color: $secondary;
            }
        }

        .infoBtn {
            margin-top: 3.2rem !important;
            gap: 2vw !important;
            @extend %boxHover;

            a:first-child {
                padding: 1.2rem 2.3rem;
            }

            a:last-child {
                padding: 1.2rem 2rem;
            }
        }
    }
}

%imgCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 22vw);
    grid-template-rows: repeat(2, 20vw);
    gap: 2vw;
    overflow: hidden;

    a {
        width: 22vw;
        height: 20vw;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        display: block;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 1;
        cursor: pointer;

        img {
            width: 22vw;
            height: 20vw;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            display: block;

            &:hover {
                scale: 120% 120%;
                transition: all 0.4s;
                filter: grayscale(100%) brightness(40%);
            }
        }
    }

}