%title {
    &>p {
        position: absolute;
        top: 10rem;

        &:before {
            content: '';
            display: inline-block;
            width: 5.7rem;
            border: 1px solid $primary;
            margin-right: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }
}

%about {
    display: flex;

    h3 {
        font-size: 2.2rem;
        width: 7vw;
        font-weight: 400;
        color: $secondary;
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.75;
    }
}

%history {
    h3 {
        font-size: $h4;
        font-weight: 600;
        color: $secondary;
        padding-top:10rem;

        &:after {
            content: '';
            display: block;
            width: 28vw;
            border: 1px solid $primary;
            margin-top: 1.5rem;

            @include mediaQ ('sm1') {
                width: 65vw;
            }

            @include mediaQ ('sm2') {
                width: 65vw;
            }

            @include mediaQ ('smHam') {
                width: 65vw;
            }

            @include mediaQ ('smHam2') {
                width: 65vw;
            }
        }
    }
}

%projectCard {
    width: 30vw;
    height: 72.6rem;
    position: absolute;
    top: 30rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: $background;

    @include mediaQ ('sm1') {
        height: 78rem;
    }

    .pInfo {
        width: 27vw;
        margin: auto;

        .title {
            padding: 0 0 2rem 0;

            h3 {
                font-size: $h4;
                font-weight: 500;
                color: $secondary;
            }

            >p {
                font-weight: 300;
                font-size: $main2;
                padding-top: 1rem;
            }
        }

        .mainInfo {
            p {
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.75;
                color: $secondary;
            }
        }

        .infoBtn {
            margin-top: 3.2rem !important;
            gap: 2vw !important;
            @extend %boxHover;

            a:first-child {
                padding: 1.2rem 2.3rem;
            }

            a:last-child {
                padding: 1.2rem 2rem;
            }
        }
    }
}

%projectMockup {
    .mockupAll {
        margin-bottom: -7.5vw;

        .mockup {
            &.pc {
                position: relative;
                width: 100%;
                height: 14.5vw;

                @include mediaQ ('sm1') {
                    height: 29vw;
                }
                @include mediaQ ('sm2') {
                    height: 29vw;
                }
                @include mediaQ ('smHam') {
                    height: 29vw;
                }
                @include mediaQ ('smHam2') {
                    height: 29vw;
                }

                .mask1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &.tab {
                position: relative;
                width: 10vw;
                height: auto;
                z-index: 2;
                top: -6vw;
                left: 18vw;

                @include mediaQ ('sm1') {
                    left: 40vw;
                    width: 13vw;
                    height: auto;
                    top: -8vw;
                }
                @include mediaQ ('sm2') {
                    left: 40vw;
                    width: 13vw;
                    height: auto;
                    top: -8vw;
                }
                @include mediaQ ('smHam') {
                    left: 40vw;
                    width: 13vw;
                    height: auto;
                    top: -8vw;
                }
                @include mediaQ ('smHam2') {
                    left: 40vw;
                    width: 13vw;
                    height: auto;
                    top: -8vw;
                }

                &>img {
                    position: relative;
                    transform: rotate(-90deg);
                    width: 8vw;
                    height: auto;

                    @include mediaQ ('sm1') {
                        width: 13vw;
                        height: auto;
                    }
                    @include mediaQ ('sm2') {
                        width: 13vw !important;
                        height: auto;
                    }
                    @include mediaQ ('smHam') {
                        width: 13vw !important;
                        height: auto;
                    }
                    @include mediaQ ('smHam2') {
                        width: 13vw !important;
                        height: auto;
                    }
                }

                & .mask2 {
                    width: 105%;
                    height: 67%;
                    overflow: hidden;
                    z-index: 3;
                    position: absolute;
                    top: 1.8vw;
                    left: -1.2vw;

                    @include mediaQ ('sm1') {
                        width: 131%;
                        height: 65%;
                        top: 3vw;
                        left: -2vw;
                        padding-bottom: 93%;
                    }
                    @include mediaQ ('sm2') {
                        width: 131%;
                        height: 65%;
                        top: 3vw;
                        left: -2vw;
                        padding-bottom: 93%;
                    }
                    @include mediaQ ('smHam') {
                        width: 131%;
                        height: 65%;
                        top: 3vw;
                        left: -2vw;
                        padding-bottom: 93%;
                    }
                    @include mediaQ ('smHam2') {
                        width: 131%;
                        height: 65%;
                        top: 3vw;
                        left: -2vw;
                        padding-bottom: 93%;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;

                        @include mediaQ ('sm2') {
                            width: 100% !important;
                        }
                        @include mediaQ ('smHam') {
                            width: 100% !important;
                        }
                        @include mediaQ ('smHam2') {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

%projectMockupMobile {
    .mockupAll {
        .mockup {
            &.mobile {
                position: relative;
                width: 4vw;
                height: auto;
                z-index: 3;
                top: -13vw;
                left: 25vw;

                @include mediaQ ('sm1') {
                    width: 7.1vw;
                    height: auto;
                    top: -20.5vw;
                    left: 51vw;
                }
                @include mediaQ ('sm2') {
                    width: 7.1vw;
                    height: auto;
                    top: -20.5vw;
                    left: 51vw;
                }
                @include mediaQ ('smHam') {
                    width: 7.1vw;
                    height: auto;
                    top: -20.5vw;
                    left: 51vw;
                }
                @include mediaQ ('smHam2') {
                    width: 7.1vw;
                    height: auto;
                    top: -20.5vw;
                    left: 51vw;
                }

                &>img {
                    position: relative;
                    width: 4vw;
                    height: auto;

                    @include mediaQ ('sm1') {
                        width: 7vw;
                    }
                    @include mediaQ ('sm2') {
                        width: 7vw !important;
                    }
                    @include mediaQ ('smHam') {
                        width: 7vw !important;
                    }
                    @include mediaQ ('smHam2') {
                        width: 7vw !important;
                    }
                }

                & .mask3 {
                    width: 95%;
                    height: 96.8%;
                    overflow: hidden;
                    z-index: 4;
                    position: absolute;
                    top: 0.2vw;
                    left: 0.1vw;
                    border-radius: 10% 10%;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: auto;

                        @include mediaQ ('sm2') {
                            width: 100% !important;
                        }
                        @include mediaQ ('smHam') {
                            width: 100% !important;
                        }
                        @include mediaQ ('smHam2') {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}


%imgCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 22vw);
    grid-template-rows: repeat(2, 20vw);
    gap: 2vw;
    overflow: hidden;

    a {
        width: 22vw;
        height: 20vw;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        display: block;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 1;
        cursor: pointer;

        img {
            width: 22vw;
            height: 20vw;
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            display: block;

            &:hover {
                scale: 120% 120%;
                transition: all 0.4s;
                filter: grayscale(100%) brightness(40%);
            }
        }
    }

}

%imgAbsol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    p {
        &:first-child {
            font-size: $main2;
            font-weight: 500;
        }

        &:last-child {
            font-weight: 300;
        }
    }
}

%pageOps {
    position: relative;

    &:nth-child(1) {
        .hoverText {
            @extend %imgAbsol;
        }
    }

    &:nth-child(2) {
        .hoverText {
            @extend %imgAbsol;
        }
    }

    &:nth-child(3) {
        .hoverText {
            @extend %imgAbsol;
        }
    }

    &:nth-child(4) {
        .hoverText {
            @extend %imgAbsol;
        }
    }

    &:nth-child(5) {
        .hoverText {
            @extend %imgAbsol;
        }
    }

    &:nth-child(6) {
        .hoverText {
            @extend %imgAbsol;
        }
    }
}