// 색상
$primary: #E76162;
$secondary: #3E614D;
$text1: #333;
$text2: #666;
$text3: #888;
$background: #fff;
$background2: #F8F2EE;
$pointcolor1: #FEE1E3;

//폰트
$h1 : 5.5rem;
$h2 : 5rem;
$h3 : 4rem;
$h4 : 3.5rem;
$main1 : 2.5rem;
$main2 : 2rem;
$main3 : 1.6rem;
$info1 : 1rem;
$info2 : 0.9rem;

//레이아웃
$nav : 15vw;
$mainW : 85vw;
$inner : 65vw;
$height : 100vh;
$width : 100vw;
